/*Plantilla principal general de IT ARROW EIRL*/
/*En esta SASS se sentaran las bases para todas las plantillas web de todo tipo de proyecto*/

  *,
  *::before,
  *::after {
    box-sizing: border-box; }

    @font-face {
        font-family: "OSbold";
        src: url("../fuentes/OpenSans-Bold.ttf");
    }
    @font-face {
      font-family: "OSregular";
      src: url("../fuentes/OpenSans-Regular.ttf");
    }
    @font-face {
      font-family: "OSsemibold";
      src: url("../fuentes/OpenSans-SemiBold.ttf");
    } 
  *{font-family: "OSregular";font-weight:100;}
  strong{
    font-family: "OSbold";
  }
  /* Estilos elementales */
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  body {
    margin: 0; }
  
  html, body {
    min-height: 100vh; }
  
  a {
    cursor:pointer;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
    a:hover {
      text-decoration: none; }
  
  img {
    vertical-align: middle;
    border-style: none; }
  
  table {
    border-collapse: collapse; }
  
  th {
    text-align: inherit; }
  
  button {
    border-radius: 0; }
  
  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  
  button, select {
    text-transform: none; }
  
  button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button; }
  .boton-vacio{
    background:none;
    border:none;
    vertical-align: middle;
  }
  input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0; }
  
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    -webkit-appearance: listbox; }
  .input-generico{
    border-radius: 20px;
    padding:10px 20px;
    border:1px solid #E6E6E6;
  }
  .boton-generico{
    border-radius: 20px;
    padding:10px 50px;
    text-align: center;
    color:white;
    font-size: 1.15em;
  }
  button.btazul{
    background:#1880C3;
    color:white !important;
  }
  button.btazul:hover{
    background:#064B77
  }
  button.btazulalt{
    background:white;
    color:#1880C3 !important;
    border:1px solid #1880C3;
  }
  button.btazulalt:hover{
    border-color:#064B77;
    color:#064B77;
  }
  button.btgris{
    background:#C8C8C8;
    color:white !important;
  }
  button.btgris:hover{
    background:#707070
  }
  button.btblanco{
    background:white;
    color:#C8C8C8 !important;
    border:1px solid #C8C8C8;
  }
  button.btblanco:hover{
    background:#C8C8C8;
    color:white !important;
  }
  textarea {
    overflow: auto;
    resize: vertical; }
  
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  
  small, .small {
    font-size: 80%;
    font-weight: 400; }
  
    .justify-around{
      justify-content: space-around;
    }
    .justify-center{
      justify-content: center;
    }
  .list-inline {
    padding-left: 0;
    list-style: none; }
  
  .list-inline-item {
    display: inline-block; }
  
  .img-fluid {
    max-width: 100%;
    height: auto; }
  
  .figure {
    display: inline-block; }
  
  .contenedor {
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
  
  .fila-contenedor {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .fila-contenedor > div {
      position: relative;
      min-height: 1px; }
  .mr{
    margin-right: auto;
  }
  .ml{
    margin-left: auto;
  }
  /* fin Estilos elementales*/
  /* estilos generales */
  .contenedor {
    min-height: 100vh; }
  
  .h-100 {
    height: 100%; }
  
  @media (max-width: 1200px) {
    body {
      font-size: 13px; 
    } 
  }
  @media (max-width: 900px) {
    body {
      font-size: 15px; 
    } 
  }
  /* @media (max-width: 400px) {
    body {
      font-size: 15px; 
    } 
  } */
   
  #appContainer{
    background-image: url("../assets/fondo.svg");
    background-size: 100%;
    background-position: 100% bottom;
    background-repeat: no-repeat;
  }
#appContainer > .fila-contenedor{
    height:100%;
    flex-flow: column;
}
.between{
  justify-content: space-between;
}
.block{display:block;}
.w100{
  width: 100% !important;
}
.w50{
  width: 50% !important;
}
.seccionparalela{
  width: calc(50% - 10px) !important;
}
.wauto{
  width:auto !important;
}
.spanConductor{
  position: relative;
}
.introspan{
 display:flex !important;
 flex-wrap: wrap;
}
.introspan span{
width:auto !important;
}
.introspan span input{
  width:auto !important;
}
.introspan span label{
display: inline-block  !important;
width:auto !important;
padding-right: 10px;
}
.spanConductor span{
width:calc(100% - 40px) !important;
display:block;
padding:0px !important;
}
.spanConductor button{
  position: absolute;
  top: 0px;
  right: 0px;
}
.spanseparado span:not(:first-of-type){
  margin-left: 25px;
}
.selectread{
  border:none;
  background: none;
  color:#707070 !important;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.selectread::-ms-expand {
  display: none;
}
@media(max-width:900px){
  #appContainer{    background-position: 100% 100%;}
}  
  /*estilos navegacion*/

  #sidebar {
    /* background: rgb(47, 34, 163);
    box-shadow: inset -7px -2px 8px rgb(59, 46, 131); */
    /*background-image: url("../imagenes/fondos/f3.jpg");*/
    background-position: center;
    opacity:0;
    background-size: cover; 
    width:415px;
  }
   
  
  #principal {
    flex: 1;
    
    display: flex;
    flex-wrap: wrap;
   
    position: relative;
    }
    #sidebar{
      position: absolute;
    right: 0;
    top: 100%;
    background:#434343;
    transform: translate(0px, -120%);
    z-index: 1;
    transition: transform ease .3s, opacity ease .8s;
    }
    #sidebar.abierto{
      transform: translate(0px, 0%);
      opacity: 1;
      /* transition: transform ease .5s, opacity ease .3s; */
    }
    #sidebar ul{
        height:100%;
        list-style: none;
        padding:0;
    }
    #sidebar ul li{
        color:#FCFCFC;
        /* background:rgb(13, 8, 82); */
        margin-top: 8px;
        display: flex;
        
        text-align: right;
    }
    #sidebar ul li a, #sidebar ul li label{
        color:#FCFCFC;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 100%;
        text-align: right;
        padding-right: 30px;
        font-size:22px;
        font-family: "OSregular";
    }
    #sidebar .bold{
      font-size:22px;
      font-family: "OSbold" !important;
    }
    #sidebar ul li a:hover{
        background:#585858;
    }
    #sidebar ul li a.activo{
      background:rgb(70, 135, 95);
    }
    #sidebar button{
      background:none;
      font-size:22px;
      color:#FCFCFC;
      margin-right: 23px;
    }

    #sidebar hr{
      margin-top:3px;
      margin-bottom:3px;
      border-top: 1px solid rgb(255 255 255 / 1);
      margin-left: 20px;
      margin-right: 20px;
    }
    #barraSuperior{
        width:100%;
        height:95px;
        background:white;
        box-shadow: 1px 1px 5px lightgray;
        display: flex;
    flex-wrap: wrap;
    }
    #barraSuperior button{
      justify-self: flex-end;
      margin-left: auto;
      align-self: center;
    }
    .prebarra{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      z-index:100;
      background: white;
    }
    #botonmenu{
      margin-left:auto;
      margin-right:15px;
      align-self: center;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    #botonmenu > a{
      align-self: center;    
      box-shadow: 2px 0px 2px -2px black; 
      padding-right: 20px;
    }
    #botonmenu > a:hover{
      /* transform: scale(1.1); */
    }
    #menubutton{
      height: 100%;
      border: none;
      background:none;
      padding-left:10px;
    }
    #menubutton.abierto .menuButton .a1{
      transform: translate(71.5px, -2px) rotate(45deg) !important;
    }
    #menubutton.abierto .menuButton .a2{
      opacity: 0;
    }
    #menubutton.abierto .menuButton .a3{
      transform: translate(70.5px, 22px) rotate(-45deg) !important;
    }

    .logo{
      /* margin-left: 20px; */
      align-self: center;
    }
    .barraSupLogin{
      padding: 15px 30px;
      width: 100%;
      height:95px;
      box-shadow: 0px 3px 6px #00000029;
      background:white;
  }

      /* fin estilos navegacion*/
    #modales{
      /* display: none;
       */
       position: fixed;
       top: 0;
       left:0;
       width: 0;
       height:0;
    }
    #modales .modal{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh !important;
      width: 100vw !important;
      background:rgba(255,255,255,0.5) !important
    }
    #modales .modal > div{
      width:auto;
    } 
    .modal-body{
      display:none;
      opacity: 0;
      margin-top:10%;
      transition:all ease .3s;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #E6E6E6;
      border-radius: 8px;
    }
    .modal-body.abriendo{
      display:block;
      opacity: 0;
      margin-top:10%;
      
    }
    .modal-body.abierto{
      opacity: 1;
      margin-top:0%;
      display:block;
    }
    .submodal{

    }
    .submodal .seccion.mod{
      box-shadow:none;
      margin-top: 0px;
      margin-bottom:0px;
      background:white;
    }
    .submodal  .seccion .dias span:last-of-type,.submodal  .seccion .dias span:first-of-type{
      width: auto !important;
    }
    .submodal .seccion .dias span{
      flex: 1;
    }
    .submodal .seccion .dias span input{
     display: none;
    }
    .submodal .seccion .dias span label{
      background:gray;
      color:white;
      width: 20px !important;
    display: block;
    text-align: center;
    }
    .submodal .seccion .dias span input:checked + label{
      background:green;
    }
    *:focus{
      outline: none;
    }
    button{
      cursor:pointer;
      border:none;
    }
    .no-borde{
      border:none;
      box-shadow: none !important;
    }
  /* fin estilos generales*/

.incorrecto{
  border-color:red !important;
}

  .menu-lista-dashboard{

  }

  .menu-lista-dashboard.principal{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.menu-lista-dashboard h2{
    text-align: center;
    font-family: "OSregular";
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
.menu-lista-dashboard h2 strong{
  font-family: "OSbold";
}
.menu-lista-dashboard h2.azul{
  color:#1880c3;
}
.menu-lista-dashboard h2.naranjo{
  color:#E39B33;
}

.menu-lista-dashboard h2 a{
padding-right: 15px;
vertical-align: middle;
display:inline !important;
}
.menu-lista-dashboard h3{
    padding-left: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu-lista-dashboard a{
  display: flex;
    flex-wrap: wrap;
    align-items: center; 
    width:100%;
}
.menu-lista-dashboard h3 button{  /*en futuro cambiar a estructura correspondiente*/
    margin-left: auto; 
    background: none;
}
.menu-lista-dashboard > div{
    width:auto;
    min-width:48%;
}

.menu-lista-dashboard .seccion {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    background:#fcfcfc;
    box-shadow: 0px 0px 8px #00000040;
}
.menu-lista-dashboard .opciones > div img{
  height: auto;
  /* width: 55% !important;  */
  padding:0px !important;
  width:80px !important;
}
.menu-lista-dashboard span{
  font-family: "OSsemibold";
    color: #707070;
}
.menu-lista-dashboard .opciones{
  padding-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-lista-dashboard .opciones >div{
  flex-basis: 30%;
  margin: 35px 10px 0px;
}

.menu-lista-dashboard .opciones >div a,.menu-lista-dashboard .opciones >div img{
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 11px 15px;
  border-radius: 20px;
}
.menu-lista-dashboard .opciones >div a{
  background: #C2D7CA;
  color: #46875F;
  /* width: max-content; */
  font-family: "OSsemibold";
  font-size: 1.1em;
}
.menu-lista-dashboard .opciones > div a:hover {
  background: #46875F;
  color: white;
}
.form-group{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  /* border-bottom:1px  */
  padding:10px 50px;
}
.form-group:last-of-type{
  border-bottom:none;
}
.form-group label{
width:40%;
font-family: "OSsemibold";
color:#707070;
}
.form-group input{
  width:59%;
}
.form-group.buttons{
  justify-content: center;
}
.form-group.buttons button{
margin-left:10px;
margin-right:10px;
}

.panel-dashboard-link .seccion{
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fcfcfc;
  box-shadow: 0px 0px 8px #00000040;
}
.panel-dashboard-link .seccion h3{
  padding-left: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.panel-dashboard-link .seccion h3 button{
  margin-left: auto;
  background: none;
}
.panel-dashboard-link .seccion a{
display: flex;
flex-wrap: wrap;
align-items: center;
width: 100%;
}
.panel-dashboard-link span{
  font-family: "OSsemibold";
  color: #707070;
  font-size:20px;
  padding-left: 15px;
}

.formRadio input{
display: inline-block;
width:auto !important;
margin-left:10px;
}
.formCheckbox input[type=checkbox]{
  display: inline-block;
  width: auto !important;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  }

  .spanlink{
    cursor:pointer;
    color:#1880C3 !important;

  }
  .celeste{
    color: #1880c3 !important;
  }
  .verde{
    color: #00852A !important;
  }
  .amarillo{
    color: #E39B33 !important;
  }
  .gris{
    color: #707070 !important;
  }
  .grisclaro{
    color: #c5c5c5 !important;
  }
table{
  width:100%;
}
/* td,th{
  text-align: center;
} */
  /*# sourceMappingURL=estilos.css.map */
.txc{
  text-align: center;
}
.listado .encabezado{
padding-left: 30px;
}
.listado .encabezado  + table{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

  .listado-simple{
    background:#FCFCFC;
    border: 1px solid #E6E6E6;
    border-radius:7px;
    box-shadow:0px 0px 8px #0000002E;
  }
  .listado-simple .encabezado{
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   padding-left: 32px;
   padding-right: 32px;
  }
  .listado-simple .encabezado h3{
    font-family: "OSsemibold";
    width:max-content;
    padding: 0px;
  }
  
  .listado-simple .encabezado input{
    font-family: "OSregular";
    width:60%;
    padding:10px 20px;
    border:1px solid #C8C8C8;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .listado-simple .encabezado a, .listado-simple .encabezado button{
    width: max-content;
    color:#707070;
    font-size:18px;
    font-family: "OSsemibold";
    background:none;
  }
  .listado-simple .elemento{
    border-top: 1px solid #c8c8c8;
    display:flex;
    flex-wrap:wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .listado-simple .elemento >div{
    width: 100%;
    display: block;
  }
  .listado-simple .elemento >div:nth-of-type(n+1){
    margin-top: 15px;
  }

  .listado-simple .elemento span{
    font-family: "OSregular";
    font-size:18px;
    width: 100%;
    display: block;
  }
  .listado-simple .elemento span.inline:first-of-type{
    font-family: "OSregular";
    font-size:18px;
    width: 30%;
    display: inline-block;
  }
  .listado-simple .elemento span.inline:last-of-type{
    font-family: "OSregular";
    font-size:18px;
    width: 70%;
    display: inline-block;
  }
  .listado-simple .elemento span.inline-auto{
    width: auto !important;
    display: inline-block;
  }
  .listado-simple .elemento span.inline-auto input[type="radio"] {
margin-left: 15px;
  }
  .listado-simple .elemento .acciones{
    justify-content: flex-end;
    display:flex;
    /* flex-wrap:wrap; */
  }
  .listado-simple .elemento .acciones a{
    display: inline-block;
    width: auto;
  }
  .listado-simple .elemento .acciones >*{
    padding-left: 5px;
    padding-right: 5px;
    background:none;
  }
  .listado-simple .elemento .respuestas{
    width: 100%;
    justify-content: left;
    flex-basis: 100%;
  }
  .listado-simple .elemento .respuestas ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
  .listado-simple .elemento .respuestas ul li{
    display: flex;
    margin-right: 25px;
    align-items: center;
  }
  .listado-simple .elemento .respuestas ul li input{
    margin-right: 5px;

  }
  .acciones span{
    width:auto !important;
  }
  .acciones button{
    background: none;
  }

  .modalPreguntaEncuesta{
    width:750px;
    padding:30px 25px;
  }
  .modalPreguntaEncuesta h3{
    margin-top:0px !important;
    margin-bottom:20px;
    color:#707070;
    font-size:18px !important;
    text-align: center;
    display: block;
    font-family: "OSbold";
  }
  .modalPreguntaEncuesta .contenido{
    display:flex;
    flex-wrap: wrap;
  }
  .modalPreguntaEncuesta .opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
  }
  .modalPreguntaEncuesta .corta{
    width: 40%;
  }
  .modalPreguntaEncuesta .opciones, .modalPreguntaEncuesta .corta{
    padding-top: 30px;
  }
  .modalPreguntaEncuesta .opciones label, .modalPreguntaEncuesta .corta label{
    padding-left: 10px;
    color:#707070;
    font-size: 18px;
  }
  .modalPreguntaEncuesta .opciones >div{
    width:100%;
    flex-basis: 100%;;
  }
  .modalPreguntaEncuesta .opciones input[type="text"]{
    padding:10px 20px;
    border:1px solid #C8C8C8;
    border-radius: 20px;
    width:100%;
  }
  .modalPreguntaEncuesta .opciones button{
    margin-top:20px;
    background:none;
    color:#707070;
    font-size:18px;
    font-family: "OSregular";
  }
  .modalPreguntaEncuesta .elemento{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .vEmergencia{
    width:480px;
  }
  .verEmergencia{
    max-width:480px;
    padding:0px;
  }
 
  .verEmergencia h3{
    text-align: left !important;
    margin: 0px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    color:#00852A;
  }
  .verEmergencia .elemento{
    display:flex;
    flex-wrap: wrap;
    border-top:1px solid #0000002E;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 0px;
  }
  .verEmergencia .elemento > span:first-of-type{
   display: block;
   width:40%;
   color:#707070;
   font-family: "OSsemibold";
  }
  .verEmergencia .elemento > span:last-of-type{
    display: block;
    width:60%;
    font-family: "OSregular";
    color:#707070;
   }
  .vEmergencia .buttons{
    padding-left: 20px;
    padding-right: 20px;
  }
  .listaPreguntas .enunciado {
    display:flex;
    flex-wrap: wrap;
    width:100%;
  }
  .listaPreguntas .enunciado p {
  width:80%;
  font-size: 18px;
  color:#707070;
  }
  .listaPreguntas .enunciado .actions {
    width:20%;
    }
    .listaPreguntas .enunciado .actions button {
      margin-left: 5px;
      margin-right: 5px;
      background:none;
    }
  .listaPreguntas .respuestas, .listaPreguntas .respuestas > div {
    width:100%;
    justify-content: left;
    flex-basis: 100%;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .listaPreguntas .respuestas ul{
    width:100%;
    list-style: none;
    display:flex; flex-wrap: wrap;
    padding:0px;
  }
  .listaPreguntas .respuestas ul li{
    display: flex;
    margin-right: 10px;
  }
  .listaPreguntas .respuestas label{
  font-size: 18px;
  color:#707070;
  }
  .listaPreguntas .respuestas ul li input{
     margin-left: 5px;
     margin-right: 5px;
  }
  .listaPreguntas .respuestas textarea{
    border-radius: 10px;
    border:1px solid #C8C8C8;
    color:#707070;
    padding:10px 25px; 
 }
  .listaPreguntas .opciones{
    padding-bottom: 40px;;
  }
  .listaPreguntas .opciones .fila{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top:10px;
  }
  .listaPreguntas .opciones .fila input{
    width:80%
  }
  .listaPreguntas .opciones  button{
    margin-top: 0px;
  }
  .listaPreguntas .enviar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .listaPreguntas .enviar button{

  }
  .tituloencuesta{
    color:#707070;
  }
  .listado-simple.tabla {
width:650px;
margin-right: 0px;
margin: auto;
  }
  .listado-simple.tabla.full {
    width:100% ;
  }
  .listado-simple.tabla  .elemento{
   display: table-row;
}
.listado-simple.tabla th{
  padding:15px 25px;
  background:#DCECF6;
  color:#1880C3;
  font-size:18px;font-family: "OSsemibold";
}
.listado-simple.tabla  .elemento > td{
  padding:15px 25px;
  color:#707070;
  font-size:18px;
}
.prehead{
  background: #FCFCFC;
    border: 1px solid #E6E6E6;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 0px 8px #0000002e;
    width: 650px;
    display:flex;
    padding-right: 25px;
    margin: auto;
}
.prehead h3{
  font-family: "OSsemibold";
}
.prehead button{
background:none;
color:#707070;
  font-size:18px;
  font-family: "OSsemibold";
}
.form-mensaje input{
width:100%;
}
.form-mensaje > button{
  background:none;
}
.form-mensaje > div > div{
  margin-bottom: 15px;
}
.listaPreguntas .modalPreguntaEncuesta{
  background: #FCFCFC;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  box-shadow: 0px 0px 8px #0000002e;
  margin-top:25px;
}
.elemento-mensaje{
  display: flex;
  flex-wrap: wrap;;
  padding: 32px;
  border-top:1px solid #C8C8C8;; 
}
.elemento-mensaje:first-of-type{

  border-top:1px solid #E6E6E6;  
}
.elemento-mensaje .image{
  width:20%;
} 
.elemento-mensaje .content{
  width:80%;
} 
.elemento-mensaje .content h3{
  color:#46875F;
  font-size: 20px;
  font-family: "OSbold";
}
.elemento-mensaje .content li{
  color:#707070;
  font-family: "OSsemibold";
  font-size:18px;
  margin-bottom: 10px;
}
.elemento-mensaje .content h3, .elemento-mensaje .content ul{
list-style: none;
padding: 0px;
} 
.elemento-mensaje .content p{
  color:#707070;
  line-height: 34px;
  font-size:18px;
}
.chat{
  width:48% !important;
}

.chat .elemento-mensaje h3{
  display:none;
}
.chat .elemento-mensaje:first-of-type h3{
  display:block;
}
.react-confirm-alert-blur {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}
.react-confirm-alert-overlay{
  background:rgba(255,255,255,0.6) !important;
}

.custom-confirm{
  box-shadow: 0px 0px 8px #0000002E;
border: 1px solid #E6E6E6;
border-radius: 8px;
padding:15px 50px;
background: white;
}
.custom-confirm p{
  text-align: center;
  font-size: 18px;
  font-family: "OSregular";
  color:#707070;
}
.custom-confirm button{
  margin-left: 10px;
  margin-right: 10px;
}
.grilla table{
  empty-cells: show;
  table-layout: fixed;
       width: 969px;
}
.calendario .encabezado h3{
  font-size: 18px;
  font-family: "OSsemibold";
}
.calendario .encabezado {
  padding-top:10px;
  padding-bottom:10px;
}

.grilla .filas tr , .grilla .filas td{
  height: 35px;
}
.grilla .filas td{
  padding-right: 14px;
}
.grilla .filas td span {
  height: 100%;;
}
.grilla table .fondo.filas tr td:last-of-type{
  border-top:1px solid #EDEDED;
  border-bottom:1px solid #EDEDED;
}
.grilla table .fondo.filas tr td:first-of-type span{
  transform: translateY(-30%);
  display: block;
  text-align: right;
}
.grilla colgroup col{width:70px;}
.grilla table th{
  padding-left: 10px;;
  width: 130px;
}
.grilla table th:first-of-type,.grilla table td:first-of-type{
  width: 60px !important;
}
.grid-container{
  position: relative;
}
.grilla .columnas{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 844px;
}
.grilla .columnas tr td{
  border-left:1px solid #C8C8C8;
  border-right:1px solid #C8C8C8;
  width: 130px;
  height: 842px;
    position: relative;
}
.grilla .columnas td > div{
  position: absolute;
  width:100%;
  overflow: hidden;
  white-space: pre;
  border-radius: 10px 10px 10px 10px;
  background-color:#FFE6C3;
  box-shadow: 0px 0px 5px #444
}
.grilla .columnas td > div:hover{
 
  width:100% !important;
  overflow: visible;
  z-index: 100000 !important;
  cursor: pointer;
  /* height: max-content !important; */
}
.grilla .columnas td > div > div{
position: relative;
width:100%;
}
.grilla .columnas td span{
  display: block;
  width:100%;
  background-color:#FFE6C3;
  padding-left:5px;
  font-size:12px;
  font-family:"OSregular";
  padding-top:2px;
  padding-bottom:2px;
}
.grilla .columnas td span:first-of-type{
  border-radius: 10px 10px 0px 0px;
}
.grilla .columnas td span:last-of-type{
  border-radius: 0px 0px 10px 10px;
}
.seccion .filtros{
  padding-bottom: 20px;
}
.seccion .filtros .sup{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 25px;
padding-left: 32px;
padding-right: 37px;
padding-bottom: 10px;
}
.seccion .filtros .sup a{
  width: max-content;

}
.seccion .filtros select{
  width: 25%;
  margin-right: 10px;
}
.seccion .filtros .buttons-space{
/* margin-left: auto;; */
}
.seccion .filtros .buttons-space button{
  margin-left: 8px;
  margin-right: 8px;
  }
.seccion .listado-simple.tabla{
  padding: 0px;
  border-radius: 0px;
}
.seccion .encabezado a{
  width: auto;
  margin-left: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
    color:#707070;
    font-size: 18px;
    font-family: "OSsemibold";
}
.retiros .finalizado{
  color:#1880C3 !important;
}
.retiros .asignado{
  color:#5D994E !important;
}
.retiros .pendiente{
  color:#E39B33 !important;
}
.tabselectcontainer{
  text-align: center;
    width: min-content;
    margin: auto;
    border:1px solid #1880C3;
    border-radius: 20px;
    background:white;
    overflow: hidden;
    display: flex;
}
.tabselectcontainer label{
  padding:3px 25px;
  border-radius: 20px;
  color:#1880C3;
  font-size: 18px;;
  transition: all ease .5s;
  cursor:pointer
}
.tabselectcontainer label.activo{
  background:#1880C3;
  color:white;
}
.hoja-vida h4{
color:#707070;
font-size:18px;
}
.hoja-vida label{
  color:#46875F;
}
.hoja-vida p{
  color:#707070;
  font-size:18px;
  line-height: 32px;
}
.hoja-vida .seccion:not(.encabezado) > div{
  padding: 0px 25px !important;
  align-items: flex-start !important;
  justify-content: space-between;
}
.hoja-vida .seccion:not(.encabezado) > div > div:not(.acciones){
  width: calc(100% - 100px);
}
.hoja-vida .seccion:not(.encabezado) > div .acciones{
  width: 100px;
  justify-content: center;
  margin-top: 15px;
}
.hoja-vida .seccion:not(.encabezado) > div .acciones > *{
width:auto !important;
padding: 0px !important;
margin-left: 5px;
margin-right: 5px;
}

.hoja-vida h4, .hoja-vida p{
  margin-top: 15px;
  margin-bottom: 15px;
}
.inline-block{
  width: auto;
  display: inline-block !important;
}
.fechaProgra{
  margin-left: auto;
  height: 40px;
  margin-right: 20px;
}
.flex{
  display:flex;
  flex-wrap: wrap;
  align-content: center;;
  align-items: center;
}
.QRbox{
  padding: 15px;
  background:white;
  border-radius: 10px;
  display: grid;
}
.QRbox svg{
  margin:auto;
  border-radius: 10px;
}
.QRbox h3{
  color:#4B4B4B;
  font-size:18px !important;
}
.lecturaQR{
  border-radius: 20px;
  font-size: 18px;;
  padding:10px 25px;
}
.turnoFinalizado{
  background:#D4EAD3 !important;
}
.turnoFinalizado td{
  color:#46875F !important;
}
.turnoEncurso{
  background:#f6e4c9 !important;
}
.turnoEncurso td{
  color:#e39b33 !important;
}
.circulogris{
  width:20px !important;
  height:20px !important;
  background:#C8C8C8;
  border-radius: 20px;
  margin: auto;
  display: block;
}
.block{
  display:block !important;
}
.indicadores-desempeño >div span:first-of-type{
  width:80%;
}
.seccion .indicadores{
  width:50%;
  box-shadow: none !important;
  border:none !important;
  display:flex;
}
.seccion .indicadores div:first-of-type{
width:40%;
}
.seccion .indicadores div:last-of-type{
width:60%;
}
.seccion .indicadores ul{
list-style: none;
padding-left: 5px;
}
.btcabecera{
  font-size: 20px;
  color:#707070;
  font-family: "OSsemibold";
  background:none;

}
.btcabecera svg{
  margin-right: 10px;
}
.seccion .indicadores ul li:nth-of-type(1){ font-size:18px; color:#4B4B4B; font-family:"OSbold"}
.seccion .indicadores ul li:nth-of-type(2){ font-size:18px; color:#1880C3; font-family:"OSregular"}
.seccion .indicadores ul li:nth-of-type(3){ font-size:16px; color:#707070; font-family:"OSregular"}
.seccion .indicadores ul li:nth-of-type(4){ font-size:16px; color:#707070; font-family:"OSregular"}


.menu-lista-dashboard .encabezado{
  display:flex;
  flex-wrap:wrap;
}
.menu-lista-dashboard .encabezado .fotoperfil{
  padding: 15px;
  padding-left: 30px;
  box-shadow: none;
  width: auto;
  
}
.menu-lista-dashboard .encabezado .fotoperfil img{
  width: 70px;
    height: 70px;
}

.menu-lista-dashboard .encabezado .datosPersonales{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.menu-lista-dashboard .encabezado .datosPersonales h3{
  padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-lista-dashboard .encabezado .datosPersonales h3 span{
  padding-left: 10px;
    display: block;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.menu-lista-dashboard .encabezado .datosPersonales h3 span:last-of-type{
font-family: "OSregular";
}
.paginador{
display:flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
.paginador li{
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
font-size:14px;
width:22px;
height:22px;
text-align: center;
font-family: "OSsemibold";
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor:pointer;
}
.paginador li.activo{
  background:#E39B33;
  border-radius:50%;
  color:white;
  font-family: "OSbold";
  cursor:default;
}
.calendario-reemplazo{
  display:flex;
flex-wrap: wrap;
justify-content: center;
}
.rmdp-shadow{
  box-shadow:none !important;
}
.rmdp-wrapper{
  background:#fcfcfc !important;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span{
  background:#039DE3;
  color:white;
  border-radius: 50%;
}
.rmdp-selected span{
  background:#67B963 !important;
}
/* .form-fix{
jus
} */
.form-fix > select, .form-fix > input{
width:31% !important;
/* margin: 0px !important; */
}
.seccion.encabezado .fotoperfil{
  padding: 15px !important;
    padding-left: 30px !important;
}
.foto-container{
  margin:auto;
  position: relative;
}
#editaFoto{
  display:none;
}
#labelEditaFoto{
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.imgPerfil{
  width:200px;
  height:200px;
  object-fit: cover;
  border-radius: 50%;;
}
.seccion.encabezado .datosPersonales{
  /* border-top: 1px solid #EDEDED; */
  padding: 5px 10px !important;
  /* box-shadow: 0px 0px 1px #00000040; */
  min-height: 50px !important;
  display: flex !important;
  align-items: center !important;
}

.seccion-trabajadores-encuestas{
  padding:15px;
}
.seccion-trabajadores-encuestas .select-container{
  margin: 15px 0px;
  display:block;
}
.seccion-trabajadores-encuestas .div-trabajador{
  border-top: 1px solid #EDEDED;
  padding: 5px 10px;
  box-shadow: 0px 0px 1px #00000040;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.seccion-trabajadores-encuestas .div-trabajador span:first-of-type{
  width: 45%;
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
}
.seccion-trabajadores-encuestas .div-trabajador span:last-of-type{
  width: 52%;
  display: inline-block;
}
.seccion-trabajadores-encuestas .div-trabajador span:last-of-type button{
  position: absolute;
    top: 0px;
    right: 0px;
}

.elemento-encuestas >span, .elemento-encuestas >div{
width:auto !important;
margin-top: 0px !important;
}

.cabecera-resultados-encuesta > div{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #c8c8c8;
  display: flex
}
.cabecera-resultados-encuesta > div span:first-of-type{
width:40%;
}
.cabecera-resultados-encuesta ul{
  list-style: none;
  margin-top: 0px;
  
}
.cabecera-resultados-encuesta ul li{
  padding-top: 5px;
  padding-bottom: 5px;
}
.icono{
  width:24px;
  height:24px;
  margin-top: -10px;
}
.input-filtro{
  width: 25% !important;
    margin-right: 10px !important;
}
.span-like-input{

}
.puro{
  display: initial !important;
  width: auto !important;
}
#root{position: relative;}
.copyright{
  display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    color: white;
}
.regular{
  font-family: "OSregular";
}
.link{
  color:#1880C3;
}