table {
    width: 100%;
    padding: 15px;
}
table tr{
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid black;;
}
table tr th {
    padding-left: 10px;
    padding-right: 10px;
}
