/*Estilos perfil*/

#component-perfil{
    position: relative;
    transition: all ease .3s;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    justify-content: center;
    width:100%;
}

#component-perfil > div{
    width:48%;
}
@media(max-width:900px){
    #component-perfil > div{
        min-width: 80%;
        width:auto;
    }
}
/* @media(max-width:600px){
    #component-perfil > div{
        width: auto;
    }
} */
#component-perfil .fotoperfil{
    width:100%;
}
#component-perfil .fotoperfil img{
    margin: auto;
    display: block;
   
}
#component-perfil .fotoperfil img:before{
   content:"";
   padding-top: 100%;
   width:100%
}
#component-perfil .seccion {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    background:#fcfcfc;
    box-shadow: 0px 0px 8px #00000040;
    position: relative;
}
#component-perfil h2{
    text-align: center;
    font-family: "OSbold";
    margin-top: 50px;
    margin-bottom: 50px;
    font-size:30px !important;
}
#component-perfil h2.celeste{
    color:#1880c3;
}
#component-perfil h2.amarillo{
    color:#e39b33;
}
#component-perfil h2 span{
    font-family: "OSregular";
}
#component-perfil h2 button{
    border-radius: 50%;
    padding: 5px;
}
#component-perfil .seccion  h3{
    padding-left: 30px;
    padding-right:10px;
    color:#e39b33;
    font-family: "OSsemibold";
   
}
#component-perfil .seccion > div{
    border-top:1px solid #EDEDED;
    padding: 5px 10px;
    box-shadow: 0px 0px 1px #00000040;
    min-height: 50px;
    display: flex;
    align-items: center;
}
#component-perfil .seccion > div:nth-of-type(2){
    border-top:none;
    box-shadow: none;
}
#component-perfil .seccion .fotoperfil{
    padding: 30px 10px;
}

#component-perfil .seccion > div span:first-of-type{
   width:45%;
   display: inline-block;
   padding-left: 30px;
   vertical-align: top;
}
#component-perfil .seccion > div span:last-of-type{
   width:52%;
   display: inline-block;
}
#component-perfil .seccion > div span:last-of-type input{
    width:100%;
}
#component-perfil .seccion > div span:last-of-type label{
    display:block;
    width:100%;
}
#component-perfil .opciones > div img{
    height: auto;
    /* width: 55% !important;  */
    padding:0px !important;
    width:80px !important;
    margin-bottom: 10px !important;
}
#component-perfil .opciones{
    padding-bottom: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#component-perfil .opciones >div{
    flex-basis: 30%;
    margin: 35px 10px 0px;
}
#component-perfil .opciones > div img, #component-perfil .opciones > div a{
    display:block;
    width:100%;
    text-align: center;
    margin: auto;
    padding:11px 15px;
    
}
#component-perfil .opciones > div a{
    border-radius: 20px;
}
/* #component-perfil .opciones > div:first-of-type a{
    background:rgb(215, 233, 243);
    color:rgb(24,128,195);
    width: 95%;
} */

#component-perfil .opciones > div a{ /*anterior last of type*/
    background:#C2D7CA;
    color:#46875F;
    /* width: max-content; */
    font-family: "OSsemibold";
    font-size: 1.1em;
   
}
#component-perfil .opciones > div a:hover{
    background:#46875F;
    color:white;
}
#component-perfil .opciones > diva:hover{
    color:white;
    background:#46875F;
}
#component-perfil .azul{
    color:#1880C3 !important;
}
/* #component-perfil .emergencia > div{
    padding:5px;
}
#component-perfil .emergencia > div span:last-of-type{
    color:rgb(24,128,195);
} */
#component-perfil .seccion span{
    color:#707070;
    font-size: 18px;
}
#component-perfil .seccion span:first-of-type{
    font-family: "OSsemibold";
}
#component-perfil .edit-button{
    position: absolute;
    right: 20px;
    top:20px;
}
.sub-seccion{
    flex-wrap: wrap;
    padding: 10px 10px !important;
}
.sub-seccion >div{
    display: flex;
    width: 100%;
    padding: 10px 0px;
}
.radiocontainer {
   display: flex !important;
   /* flex-wrap: wrap; */
}
.radiocontainer > *{
width: auto !important;
padding:0px 10px;
}
.radiocontainer > label{
    padding-right: 30px;
}
.radiocontainer > span{
    width: 100px !important;
}
.radiocontainer > span > *{
    display: inline-block !important;
    width: min-content !important;
}
.radiocontainer > span > label{
    margin-left: 15px;
}

.modal h2{
font-size:2em;;
margin-top: 40px !important;
margin-bottom: 20px !important;
}

.modalbasicos{
    width:625px;
    padding-bottom: 20px;
}
.modalbasicos .form-group{
    border-bottom: 1px solid #EDEDED;
}

.modalcontrasena input{width:100%}


.modalcontrasena{
    width:480px;
    padding-bottom: 20px;
}
.modalcontrasena .form-group{
    padding: 10px 45px;
}
.modalcontrasena .form-group.buttons{
    margin-top:20px
}

#component-perfil .encabezado{
    display:flex;
    flex-wrap:wrap;
}
#component-perfil .encabezado .fotoperfil {
    padding: 15px;
    padding-left: 30px;
    box-shadow: none;
    width:auto;
}
#component-perfil .encabezado .fotoperfil img{
    width:70px;
    height: 70px;;
}
#component-perfil .encabezado .datosPersonales h3{
    padding: 0px;
    margin: 0px;
}
#component-perfil .encabezado .datosPersonales h3 span{
    padding-left: 10px;
    display:block;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
}